<% layout('layouts/boilerplate') %>
    <div class="row">
        <div class="col-6 offset-3">
            <h1 class="text-center">Edit <%= pub.title %></h1>
            <form action="/pubs/<%= pub._id %>?_method=PUT" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" id="title" name="pub[title]" value="<%= pub.title %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" id="location" name="pub[location]" value="<%= pub.location %>" required>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="price">Average Drink Price</label>
                    <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input id="price" type="number" class="form-control" name="pub[price]" placeholder="$0.00" aria-label="Average Drink Price" aria-describedby="price-label" value="<%= pub.price %>" required>
                  </div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="description">Description</label>
                    <textarea class="form-control" type="text" id="description" name="pub[description]" required><%= pub.description %></textarea>
                </div>
                <div class="mb-3">
                    <label for="">Add Images</label>
                    <div class="custom-file">
                        <input name= "images" type="file" class="custom-file-input" id="customFile" multiple>
                        <label class="custom-file-label" for="customFile">Choose images...</label>
                    </div>
                </div>
                <div class="mb-3">
                    <% pub.images.forEach(function(img, i) { %>
                        <img src="<%= img.thumbnail %>" alt="" class="img-thumbnail">
                        <div class="form-check-inline">
                            <input type="checkbox" id="image-<%=i%>" name="deleteImages[]" value="<%=img.filename%>">
                            <label for="image-<%=i%>">&nbsp;Delete?</label>
                        </div>
                    <% }) %> 
                </div>
                <div class="mb-3">
                <button class="btn btn-info">Update Pub</button>
                 </div>
            </form>

            <a href="/pubs/<%= pub._id %>">Back</a>
        
        </div>
    </div>